@import '../styles/_colors.scss';

.content-dld {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  h3 {
    font-weight: 800;
    font-size: 24px;
    color: $gray_dark;
  }
}

.content-dld-results {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      width: 100%;
      margin: 4px 0 8px;

      a {
        margin-left: 20px;
        color: $primary;
        text-decoration: none;

        &:hover {
          color: $primary_dark;
        }
      }
    }
  }
}