@import '_colors.scss';

.btn {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid $gray_mid;
  color: $gray_mid;
  padding: 4px 10px;
  font-size: 12px;

  &:hover {
    background-color: $gray_mid;
    color: white;
    cursor: pointer;
  }
}

.btn-xl {
  padding: 10px 20px;
}

.btn-primary { 
  background-color: $primary;
  border-color: $primary;
  color: white;

  &:hover {
    background-color: $primary_dark;
    border-color: $primary_dark;
  }
}