$primary_light: #CDDAFF;
$primary: #4366C7;
$primary_dark: #334679;
$gray_darker: #3B3B3B;
$gray_dark: #545454;
$gray_mid: #979797;
$gray_light: #F6F6F6;
$orange: #F4BC61;
$red: #CF5A5A;
$green: #41952C;